.fondo{
    background-color: #A67B9F !important;
}

/* Color Theme Swatches in Hex
.1-0-AM-1-hex { color: #A67B9F; }
.1-0-AM-2-hex { color: #F2B279; }
.1-0-AM-3-hex { color: #F29979; }
.1-0-AM-4-hex { color: #59362E; }
.1-0-AM-5-hex { color: #F29C94; }
 */
